.form-title-add-new {
  padding: 11px 15px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.box-content-add-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px;
  cursor: pointer;
}

.icon-container {
  width: 20px !important;
  height: 20px !important;
}
