/* .check-box-task-page,
.check-box-icon-task-page,
.report-icon-task-page {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  cursor: pointer;
}

.check-box-task-page {
  color: #7e92a2;
}

.report-icon-task-page {
  color: #fe8084;
}

.check-box-icon-task-page {
  color: #2dc8a8;
} */

/* @media (max-width: 426px) {
  .check-box-task-page,
  .check-box-icon-task-page,
  .report-icon-task-page {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (max-width: 375px) {
  .check-box-task-page,
  .check-box-icon-task-page,
  .report-icon-task-page {
    width: 1.125rem;
    height: 1.125rem;
  }
} */
